In [3]:
import pandas as pd

In [4]:
dict_data = {'a':1,'b':2,'c':3}
sr = pd.Series(dict_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

In [5]:
list_data = ['2019-01-01',3.14,'asd',115,True]
sr = pd.Series(list_data)
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0    2019-01-01
1          3.14
2           asd
3           115
4          True
dtype: object

In [6]:
idx = sr.index
val = sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2019-01-01' 3.14 'asd' 115 True]

In [7]:
tup_data = ('가나','2020-22-22','여',True)
sr = pd.Series(tup_data,index =['name','birth','gender','student'])
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
name               가나
birth      2020-22-22
gender              여
student          True
dtype: object

In [8]:
print(sr[0])
print(sr['name'])

가나
가나

In [9]:
print(sr[[1,2]])
print(sr[['birth','gender']])

birth     2020-22-22
gender             여
dtype: object
birth     2020-22-22
gender             여
dtype: object

In [10]:
print(sr[1:2])
print(sr['birth':'gender'])

birth    2020-22-22
dtype: object
birth     2020-22-22
gender             여
dtype: object

In [11]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [12]:
df = pd.DataFrame([[15,'m','mid'],[17,'w','high']],index =['jun','ye'],columns=['age','gender','school'])
print(df)
print(df.index)
print(df.columns)

     age gender school
jun   15      m    mid
ye    17      w   high
Index(['jun', 'ye'], dtype='object')
Index(['age', 'gender', 'school'], dtype='object')

In [13]:
df.index=['stu1','stu2']
df.columns = ['agee','gg','ss']
print(df)
print(df.index)
print(df.columns)

      agee gg    ss
stu1    15  m   mid
stu2    17  w  high
Index(['stu1', 'stu2'], dtype='object')
Index(['agee', 'gg', 'ss'], dtype='object')

In [14]:
df = pd.DataFrame([[15,'m','mid'],[17,'w','high']],index =['jun','ye'],columns=['age','gender','school'])
print(df)
df.rename(columns={'age':'old','gender':'sex','school':'class'},inplace=True)
df.rename(index={'jun':'stu1','ye':'stu2'},inplace=True)
print(df.index)
print(df.columns)

     age gender school
jun   15      m    mid
ye    17      w   high
Index(['stu1', 'stu2'], dtype='object')
Index(['old', 'sex', 'class'], dtype='object')

In [15]:
exam_data={'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df= pd.DataFrame(exam_data,index=['seo','woo','in'])
print(df)
df2=df[:]
df2.drop('woo',inplace=True)
print(df2)
df3=df[:]
df3.drop(['woo','in'],axis = 0,inplace=True)
print(df3)

     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
in     87   64     34   55
     math  eng  music   PE
seo    90   88     99  100
in     87   64     34   55
     math  eng  music   PE
seo    90   88     99  100

C:\Users\pc\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [16]:
exam_data={'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df= pd.DataFrame(exam_data,index=['seo','woo','in'])
print(df)
df4=df[:]
df4.drop('math',axis=1,inplace=True)
print(df4)
df5=df[:]
df5.drop(['eng','music'],axis=1,inplace=True)
print(df5)

     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
in     87   64     34   55
     eng  music   PE
seo   88     99  100
woo   54     42   88
in    64     34   55
     math   PE
seo    90  100
woo    80   88
in     87   55

In [17]:
exam_data={'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df= pd.DataFrame(exam_data,index=['seo','woo','in'])
print(df)
label1=df.loc['seo']
position1 = df.iloc[0]
print(label1)
print(position1)

     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
in     87   64     34   55
math      90
eng       88
music     99
PE       100
Name: seo, dtype: int64
math      90
eng       88
music     99
PE       100
Name: seo, dtype: int64

In [18]:
exam_data={'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df= pd.DataFrame(exam_data,index=['seo','woo','in'])
print(df)
label2=df.loc[['seo','woo']]
position2 = df.iloc[[0,1]]
print(label2)
print(position2)

     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
in     87   64     34   55
     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88

In [19]:
exam_data={'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df= pd.DataFrame(exam_data,index=['seo','woo','in'])
print(df)
label3=df.loc['seo':'woo']
position3 = df.iloc[0:1]
print(label3)
print(position3)

     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
in     87   64     34   55
     math  eng  music   PE
seo    90   88     99  100
woo    80   54     42   88
     math  eng  music   PE
seo    90   88     99  100

In [20]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
print(df)
math1 = df['math']
print(math1)
print(type(math1))
eng = df.eng
print(eng)

  name  math  eng  music   PE
0  seo    90   88     99  100
1  woo    80   54     42   88
2   in    87   64     34   55
0    90
1    80
2    87
Name: math, dtype: int64
<class 'pandas.core.series.Series'>
0    88
1    54
2    64
Name: eng, dtype: int64

In [21]:
mus_gym = df[['music','PE']]
print(mus_gym)
math2 = df[['math']]
print(math2)

   music   PE
0     99  100
1     42   88
2     34   55
   math
0    90
1    80
2    87

In [22]:

exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
df.set_index('name',inplace=True)
print(df)

      math  eng  music   PE
name
seo     90   88     99  100
woo     80   54     42   88
in      87   64     34   55

In [23]:
a=df.loc['seo','music']
print(a)
b = df.iloc[0,2]
print(b)

99
99

In [24]:
c=df.loc['seo',['music','PE']]
print(c)
d=df.iloc[0,[2,3]]
print(d)
e=df.loc['seo',['music':'PE']]
print(e)
f=df.iloc[0,[2:]]
print(f)

SyntaxError: invalid syntax (<ipython-input-24-eadbf4d2a9d4>, line 5)

In [25]:
g=df.loc[['seo','woo'],['music','PE']]
print(g)
h=df.iloc[[0,1],[2,3]]
print(h)
i=df.loc['seo':'woo','music':'PE']
print(i)
j=df.iloc[0:2,2:]
print(j)

      music   PE
name
seo      99  100
woo      42   88
      music   PE
name
seo      99  100
woo      42   88
      music   PE
name
seo      99  100
woo      42   88
      music   PE
name
seo      99  100
woo      42   88

In [26]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
df['kor']=80
print(df)

  name  math  eng  music   PE  kor
0  seo    90   88     99  100   80
1  woo    80   54     42   88   80
2   in    87   64     34   55   80

In [27]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
df['kor']=80
print(df)
df.iloc[3]=0
#df.loc[4]=['dong',99,88,77,54]
#df.loc['l3']=df.loc[3]
print[df]

  name  math  eng  music   PE  kor
0  seo    90   88     99  100   80
1  woo    80   54     42   88   80
2   in    87   64     34   55   80

IndexError: single positional indexer is out-of-bounds

In [35]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
df.set_index('name',inplace=True)
print(df)
df.iloc[0][3]=80
print(df)
df.loc['seo']['PE']=88
print(df)
df.loc['seo','PE']=77
print(df)

      math  eng  music   PE
name
seo     90   88     99  100
woo     80   54     42   88
in      87   64     34   55
      math  eng  music  PE
name
seo     90   88     99  80
woo     80   54     42  88
in      87   64     34  55
      math  eng  music  PE
name
seo     90   88     99  88
woo     80   54     42  88
in      87   64     34  55
      math  eng  music  PE
name
seo     90   88     99  77
woo     80   54     42  88
in      87   64     34  55

In [36]:
df.loc['seo',['music','PE']]=84
print(df)
df.loc['seo',['music','PE']]=100,54
print(df)

      math  eng  music  PE
name
seo     90   88     84  84
woo     80   54     42  88
in      87   64     34  55
      math  eng  music  PE
name
seo     90   88    100  54
woo     80   54     42  88
in      87   64     34  55

In [38]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
df.transpose()
print(df)
df=df.T
print(df)

  name  math  eng  music   PE
0  seo    90   88     99  100
1  woo    80   54     42   88
2   in    87   64     34   55
         0    1   2
name   seo  woo  in
math    90   80  87
eng     88   54  64
music   99   42  34
PE     100   88  55

In [28]:
exam_data={'name':['seo','woo','in'],'math':[90,80,87],'eng':[88,54,64],'music':[99,42,34],'PE':[100,88,55]}
df=pd.DataFrame(exam_data)
ndf=df.set_index(['name'])
print(ndf)
ndf=df.set_index(['music'])
print(ndf)
ndf=df.set_index(['math','music'])
print(ndf)

      math  eng  music   PE
name
seo     90   88     99  100
woo     80   54     42   88
in      87   64     34   55
      name  math  eng   PE
music
99     seo    90   88  100
42     woo    80   54   88
34      in    87   64   55
           name  eng   PE
math music
90   99     seo   88  100
80   42     woo   54   88
87   34      in   64   55

In [29]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
new_index=['r0','r1','r2','r3','r4']
ndf=df.reindex(new_index)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [30]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
ndf=df.reset_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

In [7]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data,index=['r0','r1','r2'])
print(df)
ndf=df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [8]:
stu1=pd.Series({'kor':100,'eng':45,'math':98})
print(stu1)
per = stu1/200
print(per)
print(type(per))

kor     100
eng      45
math     98
dtype: int64
kor     0.500
eng     0.225
math    0.490
dtype: float64
<class 'pandas.core.series.Series'>

In [31]:
stu1=pd.Series({'kor':100,'eng':45,'math':98})
stu2=pd.Series({'kor':14,'eng':75,'math':88})
print(stu1)
print(stu2)
add = stu1+stu2
sub=stu1-stu2
mul=stu1*stu2
div=stu1/stu2
result=pd.DataFrame([add,sub,mul,div],index=['add','sub','mul','div'])
print(result)

kor     100
eng      45
math     98
dtype: int64
kor     14
eng     75
math    88
dtype: int64
             kor     eng         math
add   114.000000   120.0   186.000000
sub    86.000000   -30.0    10.000000
mul  1400.000000  3375.0  8624.000000
div     7.142857     0.6     1.113636

In [32]:
import pandas as pd
import numpy as np
stu1 = pd.Series({'kor':np.nan,'eng':87,'math':65})
stu2 = pd.Series({'eng':65,'math':26})
print(stu1)
print(stu2)
add = stu1+stu2
sub=stu1-stu2
mul=stu1*stu2
div=stu1/stu2
result=pd.DataFrame([add,sub,mul,div],index=['add','sub','mul','div'])
print(result)

kor      NaN
eng     87.0
math    65.0
dtype: float64
eng     65
math    26
dtype: int64
             eng  kor    math
add   152.000000  NaN    91.0
sub    22.000000  NaN    39.0
mul  5655.000000  NaN  1690.0
div     1.338462  NaN     2.5

In [33]:
stu1 = pd.Series({'kor':np.nan,'eng':87,'math':65})
stu2 = pd.Series({'eng':65,'math':26})
print(stu1)
print(stu2)
sr_add=stu1.add(stu2,fill_value=0)
sr_sub=stu1.sub(stu2,fill_value=0)
sr_mul=stu1.mul(stu2,fill_value=0)
sr_div=stu1.div(stu2,fill_value=0)
result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],index=['add','sub','mul','div'])
print(result)

kor      NaN
eng     87.0
math    65.0
dtype: float64
eng     65
math    26
dtype: int64
             eng  kor    math
add   152.000000  NaN    91.0
sub    22.000000  NaN    39.0
mul  5655.000000  NaN  1690.0
div     1.338462  NaN     2.5

In [34]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
print(df.head())
print(type(df))
add = df+100
print(add.head())
print(add.tail())
subtraction = add - df
print(subtraction.tail())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
<class 'pandas.core.frame.DataFrame'>
     age      fare
0  122.0  107.2500
1  138.0  171.2833
2  126.0  107.9250
3  135.0  153.1000
4  135.0  108.0500
       age    fare
886  127.0  113.00
887  119.0  130.00
888    NaN  123.45
889  126.0  130.00
890  132.0  107.75
       age   fare
886  100.0  100.0
887  100.0  100.0
888    NaN  100.0
889  100.0  100.0
890  100.0  100.0